<p id="notice"><%= notice %></p>

<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Rwitter</h1>
      <p>Twitter on Rails</p>
      <p><%= render 'form', tweet: @tweet %></p>
    </div>
</div>


<div class="row">
  
    <% @tweets.each do |tweet| %>
    <div class="col-sm-4">
      <div class="card">
        <h4 class="card-header bg-primary">
        <div class="inline" style="color: white;">
            <% if tweet.user.pseudo.nil? && current_user.id == tweet.user_id %>
              <%= link_to "Add pseudo", edit_user_path(tweet.user.id) %>
            <% else %>
              @<%= tweet.user.pseudo %>
            <% end %>
        </div>
        </h4>
        <div class="card-block">
          <h5 class="card-title">
            <% if current_user.id == tweet.user_id %>
              <td><%= link_to "#{tweet.content}", edit_tweet_path(tweet) %></td>
            <% else %>
              <td><%= tweet.content %></td>
            <% end %>
          </h5>
          <p class="card-text">
            <%= time_ago_in_words(tweet.created_at) %>
          </p>
          <% if current_user.id == tweet.user_id %>
            <%= link_to 'Remove tweet', tweet, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
</div>