<p id="notice"><%= notice %></p>

<h1>Tweets</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td>@<%= tweet.user.pseudo %></td>
        <% if current_user.id == tweet.user_id %>
          <td><%= link_to "#{tweet.content}", edit_tweet_path(tweet) %></td>
        <% else %>
          <td><%= tweet.content %></td>
        <% end %>
        <td><%= time_ago_in_words(tweet.created_at) %>        
        <% if current_user.id == tweet.user_id %>
          <td><%= link_to 'Remove tweet', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= render 'form', tweet: @tweet %>