<p id="notice"><%= notice %></p>

<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Rwitter</h1>
      <p>Twitter on Rails</p>
      <p><%= render 'form', tweet: @tweet %></p>
    </div>
</div>


<div class="row">
  
    <% @tweets.each do |tweet| %>
    <div class="col-sm-6">
      <div class="card">
        <h3 class="card-header">
          <% if tweet.user.pseudo.nil? && current_user.id == tweet.user_id %>
              <td><%= link_to "Add pseudo", edit_user_path(tweet.user.id) %></td>
          <% else %>
            <td>@<%= tweet.user.pseudo %></td>
          <% end %>
        </h3>
        <div class="card-block">
          <h4 class="card-title"><%= time_ago_in_words(tweet.created_at) %></h4>
          <p class="card-text">
          <% if current_user.id == tweet.user_id %>
            <td><%= link_to "#{tweet.content}", edit_tweet_path(tweet) %></td>
          <% else %>
            <td><%= tweet.content %></td>
          <% end %>
          </p>
          <% if current_user.id == tweet.user_id %>
            <%= link_to 'Remove tweet', tweet, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
</div>



<!--- Rweets on table 
<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <% if tweet.user.pseudo.nil? && current_user.id == tweet.user_id %>
            <td><%= link_to "Add pseudo", edit_user_path(tweet.user.id) %></td>
        <% else %>
          <td>@<%= tweet.user.pseudo %></td>
        <% end %>
        <% if current_user.id == tweet.user_id %>
          <td><%= link_to "#{tweet.content}", edit_tweet_path(tweet) %></td>
        <% else %>
          <td><%= tweet.content %></td>
        <% end %>
        <td><%= time_ago_in_words(tweet.created_at) %>        
        <% if current_user.id == tweet.user_id %>
          <td><%= link_to 'Remove tweet', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
  -->

