<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <%= f.hidden_field :id, :class => 'form-control', :value => current_user.id %>
      <%= f.label :pseudo, :class => 'form-control' %>
      <%= f.text_field :pseudo, :class => 'form-control' %>
      <%= f.label :email, :class => 'form-control' %>
      <%= f.text_field :email, :class => 'form-control'  %>
      <%= f.submit 'Update', :class => 'btn btn-primary' %>
    </div>
<% end %>
